<footer class="footer_magnum">
	<a class="subscribe_magnum btn" target="_blank" href="{{@blog.url}}/rss/">
		<i class="fa fa-rss"></i> <span class="hidethis_magnum">Subscribe!</span>
	</a>
	<div class="footertext_magnum">
		All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.
	</div>
	<div class="footertext_magnum">
		Powered by <a href="http://tryghost.org" target="_blank">Ghost</a> & Built by <a href="http://ghostlook.com" target="_blank">GhostLook</a>
	</div>
</footer>
